<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Registro</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Cursos <b>| UTEZ</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Views/instructores.h">Instructores</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tipos de eventos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Presenciales</a>
                        <a class="dropdown-item" href="#">Remotos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mixtos</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <fieldset>
                    <legend>Formulario de Registro</legend>
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input class="form-control" type="text" name="nombre" id="nombre">
                        </div>
                        <div class="form-group">
                            <label for="primerApellido">Primer Apellido:</label>
                            <input class="form-control" type="text" name="primerApellido">
                        </div>
                        <div class="form-group">
                            <label for="segundoApellido">Segundo Apellido:</label>
                            <input class="form-control" type="text" name="segundoApellido">
                        </div>

                        <div class="form-group">
                            <label for=#>Tipo de modalidad: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="presencial" value="presencial">
                                <label class="form-check-label" for="presencial">Presencial</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remoto" value="remoto">
                                <label class="form-check-label" for="presencial">Remoto</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="mixto" value="mixto">
                                <label class="form-check-label" for="presencial">Mixto</label>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="#">Sexo:</label>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="hombre">
                                <label class="form-check-label" for="hombre">Hombre</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sexo" id="mujer">
                                <label class="form-check-label" for="mujer">Mujer</label>
                            </div>

                            <div class="form-group">
                                <label for="curso">Curso:</label>
                                <select class="form-control" name="curso" id="curso">
                                    <option>Seleccione...</option>
                                    <option>Creatividad y Diseño</option>
                                    <option>Programación en Android</option>
                                    <option>Base de Datos</option>
                                    <option>Inteligencia Artificial</option>
                                    <option>Finanzas</option>
                                    <option>Estrategias de negociación</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-check-label" for="observaciones">Observaciones</label>
                            <textarea style="resize: none;" name="observaciones" id="observaciones" cols="60"
                                rows="10"></textarea>
                        </div>
            <ul style="list-style: none;">
                <li>
                    <input class="btn btn-success" type="submit" value="Registrar" name="registrar" id="registrar">
                    <input class="btn btn-danger" type="reset" value="Cancelar" name="reset" id="reset">
                </li>
            </ul>
            </form>
            </fieldset>
        </div>
    </div>


</body>

</html>